<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configuration>
    <connectionstrings>
      <add connectionstring="Server=tcp:mihoaka.database.windows.net,1433;Initial Catalog=Restaurant;Persist Security Info=False;User ID=sqladmin;Password=Mihoaka0215;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
 name="ConString"/>
    </connectionstrings>
  </configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>